@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/blckpage.css" />
</head>
<body>
    <div class="message-container animation fadeIn">
        <div class="animate__animated animate__heartBeat animate__infinite bounce">
            <i class="fas fa-exclamation-circle animate__animated animate__wobble animate__infinite" style="font-size: 48px;"></i>
        </div>
        <div class="message">
            Sorry, your profile is blocked.
        </div>
        <div>
            If you think this is a mistake, please contact our support team.
        </div>
    </div>
</body>
</html>

