@model RegisterViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/reg.css" asp-append-version="true" />
</head>
<body>
    <main class="main">
        <div class="wrapper">
            <div class="card">
                <div class="title">
                    <h1 class="title title-large">Register</h1>
                </div>
                <form class="form" asp-controller="Account" asp-action="Register" method="post">
                    <div class="form-group">
                        <input type="text" asp-for="FullName" id="Username" class="input-field" placeholder="Enter FullName">
                    </div>
                    <span asp-validation-for="FullName" class="danger-text"></span>
                    <div class="form-group">
                        <input type="text" asp-for="UserName" id="Username" class="input-field" placeholder="Enter User Name">
                    </div>
                    <span asp-validation-for="UserName" class="danger-text"></span>
                    <div class="form-group">
                        <input type="email" asp-for="Email" id="Email" class="input-field" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <span asp-validation-for="Email" class="danger-text"></span>
                    <div class="form-group">
                        <input type="password" asp-for="Password" id="password" class="input-field" placeholder="Enter Password">
                    </div>
                    <span asp-validation-for="Password" class="danger-text"></span>
                    <div class="form-group">
                        <input type="password" asp-for="ConfirmPassword" id="password" class="input-field" placeholder="Confirm  password">
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="danger-text"></span>
                    <div class="form-group mt-3">
                        <p class="title title-subs mx-3">Have a Accaunt?<a href="/Account/Login" class="linktext mx-1">Login</a></p>
                        <button type="submit" name="submit" class="input-submit">Register</button>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>