$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

body {
    background-color: #59656F;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

.table-products table,
.table-users table {
    padding: 0 !important;
}

.header {
    background-color: #304D6D;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.px-4 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container-xl, .container-xxl {
    padding-right: ar(--bs-gutter-x,0);
    padding-left: var(--bs-gutter-x,0);
}


.table {
    border: 1px solid darken($baseColor, 5%);
    border-radius: $borderRadius;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    width: 800px;
    margin: 1em auto;
    overflow: hidden;

    &-products, &-users {
        max-height: 45vh;
        overflow-y: auto;
        background-color: white;
        z-index: 9999;
        margin: 0;

        table {
            width: 100%;

            th, td {
                color: darken($baseColor, 10%);
                padding: $padding;
            }

            th {
                background-color: #17BEBB;
                font-weight: 300;
            }

            tr {
                &:nth-child(2n) {
                    background-color: white;
                }

                &:nth-child(2n+1) {
                    background-color: lighten($baseColor, 55%);
                }
            }
        }
    }
}
