@model AddProductViewModel

<div class="d-flex justify-content-center">
    <form asp-controller="Shop" asp-action="AddProduct" method="post" enctype="multipart/form-data">
        <label class="pd10" asp-for="Title">Title<span>*</span></label>
        <div>
            <input asp-for="Title" type="text" placeholder="Title" />
            <span asp-validation-for="Title" class="fgred"></span>
        </div>

        <label class="pd10" asp-for="Price">Price<span>*</span></label>
        <div>
            <input asp-for="Price" placeholder="Price" />
            <span asp-validation-for="Price" class="fgred"></span>
        </div>

        <div class="pd15">
            <select asp-for="BrandId" asp-items="@ViewBag.Brands">Select Brand</select>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories"> Select Category</select>
        </div>
        <div class="pd5">
            <input type="file" asp-for="ImageUrl" /><br />
        </div>
        <label class="pd5" for="Description">Description<span>*</span></label>
        <div class="pd10">
            <input asp-for="Description" type="text" placeholder="Description" />
        </div>

        <button class="" type="submit" href="/">APPLY</button>
    </form>
</div>

