@model List<Products>

<head>
	<link rel="stylesheet" href="~/css/style.css" />
</head>
<div class="container">

	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Title</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Price</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Brand</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Category</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="/Foradmin/Admin/AddProduct">Add</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Edit</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Delete</a></div>
		</div>
		@foreach (var products in Model)
		{
			<div class="table-content">
				<div class="table-row">
					<div class="table-data">@products.Title</div>
					<div class="table-data">@products.Price</div>
					<div class="table-data">@products.brand.Name</div>
					<div class="table-data">@products.category.Name</div>
					<div class="table-data"><a class="btn btn-warning" href="/Foradmin/Admin/AddProduct/@products.Id">Add</a></div>
					<div class="table-data"><a class="btn btn-warning" href="/Admin/EditProduct/@products.Id">Edit</a></div>
					<div class="table-data"><a class="btn btn-warning" href="/Admin/DeleteProduct/@products.Id">Delete</a></div>
				</div>
			</div>
		}
	</div>
</div>