@model List<Products>

<link rel="stylesheet" href="~/css/site.css"/>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Favorite Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model.Count == 0)
                {
                    <p>You have no favorite products yet.</p>
                }
                else
                {
                    <div class="table-responsive"> 
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("Info","Shop",new { id = product.Id})">@product.Title</a></td>
                                        <td>@product.Price</td>
                                        <td><button id="remove-button" data-product-id="@product.Id" type="button" class="btn btn-danger">remove</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="modal-overlay"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#remove-button").click(function () {
            console.log("Remove button clicked");
            var removeButton = $(this);

            var productId = removeButton.data("product-id");
            console.log("Product ID: " + productId);

            $.post("/Shop/RemoveFavorite", { Id: productId }, function (data) {
                if (data) { 
                    removeButton.closest("tr").remove();
                }
            });
        });
    });
</script>

