@model List<Products>

<div class="productContainer" id="productContainer">
    @await Html.PartialAsync("LoadedProducts", Model)
</div>

<div id="loadMoreBtnContainer" class="d-flex justify-content-center mt-4">
    <button id="loadMoreBtn" class="btn btn-primary">Show more</button>
</div>

<script>
    var skip = 12; 
    var take = 12; 

    $(document).ready(function () {
        $("#loadMoreBtn").click(function () {
            loadMoreProducts();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                loadMoreProducts();
            }
        });
    });

    function loadMoreProducts() {
        $.ajax({
            url: '@Url.Action("LoadMoreProducts", "Shop")',
            type: 'GET',
            data: { skip: skip },
            success: function (data) {
                if (data.length > 0) {
                    $("#productContainer").append(data); 
                    skip += take; 
                } else {
                    $("#loadMoreBtnContainer").html("<p>There are no more products</p>");
                    $("#loadMoreBtn").remove();
                }
            }
        });
    }
</script>
