@model List<Products>

<div class="container" id="container">
    @await Html.PartialAsync("LoadedProducts", Model)
</div>

<div id="loadMoreBtnContainer" class="d-flex justify-content-center mt-4">
    <button id="loadMoreBtn" class="btn btn-primary">Show more</button>
</div>

<script>
    var skip = 12;
    var take = 12;

    $(document).ready(function () {
        $("#loadMoreBtn").click(function () {
            loadMoreProducts();
        });
    });

    function loadMoreProducts() {
        $.ajax({
            url: '@Url.Action("LoadMoreProducts", "Shop")',
            type: 'GET',
            data: { skip: skip, take: take },
            success: function (data) {
                if (data.length > 0) {
                    $("#container").append(data);
                    skip += take;
                } else {
                    $("#loadMoreBtnContainer").html("<p>There are no more products</p>");
                    $("#loadMoreBtn").remove();
                }
            }
        });
    }
</script>
