<nav>
    <div class="logo">
        Brand
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a asp-controller="Shop" asp-action="Index">Home</a></li>
        <li><a asp-controller="Shop" asp-action="AddProduct">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</nav>

